root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc}]
indent_size = 2

[*.yml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.{css,scss,pcss}]
indent_size = 2

[*.html]
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 2

[*.env]
indent_style = none

[*.min.js]
indent_style = space
indent_size = 2
